<div class="row p-5 justify-content-center">
  <div class="col-5 border p-5">
    <h3>Login</h3>
    <form class="mt-4" #form='ngForm' (ngSubmit)="onSubmit(form)">
      <div *ngIf="error"  class="alert alert-danger"> {{ error }} </div>
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input required #inputEmail="ngModel" ngModel name="inputEmail" type="email" class="form-control" id="inputEmail" aria-describedby="inputEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        <div class="alert alert-danger" *ngIf="inputEmail.touched && inputEmail.invalid" >
          <div *ngIf="inputEmail.errors.required" >Email is required.</div>
          <div *ngIf="inputEmail.errors.pattern" >Please enter a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input required #inputPassword="ngModel" ngModel name="inputPassword" type="password" class="form-control" id="exampleInputPassword1" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{6,}$">
        <div class="alert alert-danger" *ngIf="inputPassword.touched && inputPassword.invalid" >
          <div *ngIf="inputPassword.errors.required" >Password is required.</div>
          <div *ngIf="inputPassword.errors.pattern" >Password must be at least 6 chars, 1 Capital Letter and 1 number. </div>
        </div>
      </div>
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Login</button>
    </form>

    <button class="btn btn-outline-primary btn-block my-5" (click)="onGoogleLogin()"><i class="fab fa-google mr-3"></i>Login with Google</button>

    <p>No account? <a role="button" class="text-primary" [routerLink]="['/signup']"><strong>create one here</strong></a></p>

  </div>
</div>



