<div *ngIf="product.title || product.price || product.imageUrl" class="card mx-auto my-2">
  <img [src]="product.imageUrl" class="card-img-top" alt="fruit">
  <div class="card-body">
    <h5 class="card-title"> {{ product.title }} </h5>
    <h1 class="card-title font-weight-bold text-danger"> {{ product.price | currency:'USD' }} </h1>
    <p class="card-text"> {{ product.mainDescription }} </p>
  </div>
  <div *ngIf="showAddBtn && shoppingCart" class="card-footer p-0">
    <a *ngIf="getQuantity() <= 0; else updateQuant" (click)="onAddProduct()" role="button" class="btn btn-success btn-block">Add to Card</a>
    <ng-template #updateQuant>
      <app-product-quantity [product]="product" [shoppingCart]="shoppingCart"></app-product-quantity>
    </ng-template>
  </div>
</div>
