<table class="table table-striped">
  <thead>
    <tr>
      <th *ngIf="showUserTable" scope="col">Name</th>
      <th *ngIf="showUserTable" scope="col">User Id</th>
      <th scope="col">Order date</th>
      <th scope="col">Order Id</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of getOrders()" >
      <td *ngIf="showUserTable"> {{ order.user.name }} </td>
      <td *ngIf="showUserTable"> {{ order.user.uid }} </td>
      <td> {{ order.createdDate | date:'medium' }} </td>
      <td> {{ order.$key }} </td>
      <td>
        <a style="cursor: pointer;">View order</a>
      </td>
    </tr>
  </tbody>
</table>
