<div class="bg-primary footer mt-5 pb-1">
  <nav class="navbar navbar-expand-lg justify-content-between">
    <!-- <div class="navbar-brand" href="#">
      <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
      </svg>
    </div> -->
    <form class="form-inline my-2 my-lg-0 ml-sm-5">
      <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
      </svg>
      <input class="form-control mx-sm-2" type="search" placeholder="email..." aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign Up</button>
    </form>

    <ul class="navbar-nav mr-sm-5">
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-facebook fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-twitter fa-2x"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"><i class="fab fa-instagram fa-2x"></i></a>
      </li>
    </ul>
  </nav>
  <small class="ml-sm-5">*By clicking sign up, you agree to our Privacy Policy and receiving emails about our offers and updates</small>
</div>

<div class="row bg-light py-5">
  <div class="col-lg-4">
    <ul>
      <li><h5>Help & Advice</h5></li>
      <hr>
      <li><a>Contact us</a></li>
      <li><a>Help & Advice</a></li>
      <li><a>Payment Information</a></li>
      <li><a>Our Stores</a></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul>
      <li><h5>Our Services</h5></li>
      <hr>
      <li><a>Delivery</a></li>
      <li><a>Returns</a></li>
      <li><a>Finance Options</a></li>
      <li><a>Trade</a></li>
      <li><a>Education</a></li>
    </ul>
  </div>
  <div class="col-lg-4">
    <ul>
      <li><h5>Company Information</h5></li>
      <hr>
      <li><a>About Us</a></li>
      <li><a>Affiliates Programme</a></li>
      <li><a>Careers</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Cookie Policy</a></li>
      <li><a>Terms & Conditions</a></li>
    </ul>
  </div>
</div>
